[Unit]
Description=This is a service to auto-start our senior design, followme robot
After=syslog.target network.target
[Service]
StandardOutput=syslog
StandardError=syslog
ExecStart=/var/lib/cloud9/followme/startup.sh
[Install]
WantedBy=multi-user.target
